extends layout

block content
	.index-top
		img(src="/images/big-logo.svg", alt="").index-top__logo
		.index-top__info!= __('what_is_ctfight')
		form(method= 'post')#remind-form.remind-form
			.input--rich.remind-form__input(data-info= __('remind_about_start'))
				input.input.input--shine(placeholder='e-mail' name='email' form='remind-form' type='email')
			input.btn.btn--submit(type= 'submit' value= __('remind_me') form='remind-form').remind-form__submit
	.index-rulers
		.index-rulers__wrap
			.index-rulers__info= __('small_rulers')
			.index-rulers__download
				a.btn.btn--submit.btn--shine(href='/service')= __('service_example')
				a.btn.btn--submit.btn--shine(href='https://youtube.com')= __('write_up_example')
				a.btn.btn--submit.btn--shine(href='#rulers')= __('rulers')
	.do-it
		a.btn.btn--important.btn--shine.do-it__btn(href= 'request')= __('take_part')
