extends layout

block content
	.request-message!= message
	form(method='post')#request-form.request-form
		each input, index in requestForm.fields
			.input--rich.request-form__input
				input.input(form= 'request-form' name=input.name placeholder=__(input.placeholder) autofocus= index == 0)
				if input.mark
					.input--mark(data-title=__(input.mark))
				if input.file
					.input--file
						.input--file__view
							div= __(input.file.text)
							.input--file__view__progress(data-percent='0')
						input.input--file__input(form=input.file.name name='file' type='file' data-static= input.file.static)
						input(type='hidden' form='request-form' name=input.file.name)
				if input.tip
					.tip
						if input.tip.title
							.tip__title= __(input.tip.title)
						if input.tip.text
							.tip__text!= __(input.tip.text)

		.input--rich.request-form__input
			input(type='submit' value=__(requestForm.submit.text)).btn.btn--submit.request-form__submit

	each input in requestForm.fields
		if input.file
			form(id=input.file.name enctype='multipart/form-data')

