extend layout

block content
	.teams-block
		.teams-block__title= __('first_tour')
		.teams-block__teams
			each team, index in teams
				.team(class="team--#{index % 2 == 0 ? 'left' : 'right'}")
					.team__name= team.name
					.team__info
						span #{team.info} 
						if team.results
							br
							if team.results.defense
								br
								em #{__('defense')}: 
								span.font-regular #{team.results.defense} 
							if team.results.offense
								br
								em #{__('offense')}: 
								span.font-regular #{team.results.offense} 
							if team.results.offense && team.results.defense
								br
								em #{__('summary')}: 
								span.font-regular #{team.results.defense + team.results.offense}
					//- base64 data is 1x1 transparent image
					img.team__logo(src= team.logo ? team.logo : 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' class= team.logo ? '' : 'team__logo--empty')
			if teams.length < 8
				.team
					img.team__logo.team__plus(onclick="location.href='/request'" src= 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')

